<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Sentry" version="3.28.1" targetFramework="net472" />
  <package id="Serilog" version="2.12.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="2.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Duplex" version="4.10.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.10.0" targetFramework="net472" />
  <package id="System.ServiceModel.NetTcp" version="4.10.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.10.0" targetFramework="net472" />
  <package id="System.ServiceModel.Security" version="4.10.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core" version="15.5.72" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.Base.x64" version="15.5.72" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.MP4.x64" version="15.5.72" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VideoCapture.x64" version="15.5.72" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="15.1.12" targetFramework="net472" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="15.1.12" targetFramework="net472" />
  <package id="VisioForge.Libs.External" version="15.5.36" targetFramework="net472" />
</packages>